<launch>
  <arg name="model" default="$(find irbot_rviz)/urdf/irbot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find irbot_rviz)/rviz/irbot_slam.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" value=""/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find irbot_rviz)/launch/config/karto_mapper_params.yaml"/>
    <remap from="/scan" to="/irbot/scan">
  </node>
</launch>
